*
{
    padding: 0;
    margin: 0;
     font-family: 'Lato' , sans-serif;
     box-sizing: border-box;
}
body
{
    display: grid;
    place-items: center;
    height: 100vh;
    background: #2A2C2F;
}
#container
{
    height: auto;
    width: auto;
}
/*Start Section*/
#start
{
    height: 70px;
    width: 250px;
    text-align: center;
    padding: 20px 0;
    background: #bcbcbc;
    color: #000;
    font-size: 23px;
    font-weight: 700;
    border-radius: 30px 30px;
    border: 6px solid #0096db;
    cursor: pointer;
    /*display: none;*/
}
#start:hover
{
    background: #001d53;
    color: #0096db;
}
/*Information Section*/
#Information,#quiz
{
    height: auto;
    width: 580px;
    padding: 20px;
    background: #0096db;
    border-radius: 50px  50px;
    border: 2px solid #8b00db;
    display: none;
}
#Information h2
{
  font-size: 40px;
  color: #a700da;
}
#Information h4
{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 25px;
}
#Information #button
{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#Information  #button button
{
    height: 50px;
    width: 120px;
    margin: 10px 20px;
    border: none;
    outline: none;
    color: #0096db;
    background: #010c6e;
    border: 1px solid #001d53;
    border-radius:  18px 18px;
    font-size: 14px;
    cursor: pointer;
}
#Information #button button:last-child
{
    margin: 10px 0;
}
#Information #button button:hover
{
    background: #000f53;
}
#quiz
{
    /* display: block;*/
    height: 480px;
    position: relative;
}
#quiz #quiz_header 
{
    height: 60px;
    width: 100%;
    background: #0096db;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 30px;
}
#quiz #quiz_header h5
{
    font-size: 30px;
    margin: 0 20px;
    color: #ffffff
}
#quiz #quiz_header #timer
{
    height: 50px;
    width: 200px;
    background: #016db6;
    color:#ffffff;
    border: 1px solid #a700da;
    font-size: 20px;
    border-radius: 20px 20px;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
}
#quiz #quiz_header #timer h6
{
    font-size: 22px;
    display: grid;
    place-items: center;
    color:#ffffff;
    margin: 0 20px;
}
#quiz #quiz_header #timer #time
{
    height: 44px;
    width: 44px;
    background: #ffffff;
    color:#054c6d;
    border: 1px solid #001d53;
    border-radius: 15px 15px;
    margin: 2px 0 0 27px;
}
/*Quiz Questions*/
#quiz #question
{
    position: absolute;
    top: 90px;
    display: flex;
    flex-direction: row;
}
#quiz #question h2
{
    font-size: 27px;
}
#quiz #question h2:first-child
{
    margin: 0 10px 0 5px;
}
/*Quiz Options*/
#quiz #optionList 
{
    height: 400px;
    width: 100%;
    position: absolute;
    top: 160px;
}
#quiz #optionList h4
{
    height: 50px;
    width: 535px;
    background: #000;
    line-height: 50px;
    margin: 5px 0;
    border-radius: 7px;
    padding: 0 20px;
    font-size: 20px;
    color:#ffffff;
    overflow: hidden;
    border: 1px solid #000f53;
    cursor: pointer;
}
#quiz #optionList h4:hover
{
   background: #0096db;
}
#quiz #optionList .active
{
   background: #0096db;
}
#quiz #optionList .disabled
{
   pointer-events: none;
}

/*Answers Section*/

#quiz #answersSection
{
    height: 60px;
    width: 100%;
    background: #fafafc;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 30px 0;
}
#quiz #answersSection h3
{
    margin: 0px 30px;
    display: none;
}
#quiz #answersSection h3:last-child
{
    height: 40px;
    width: 100px;
    display: grid;
    place-items: center;
    background: #000000;
    position: absolute;
    right: 0;
    color: #0096db;
    border: 1px solid #8b00db;
    font-size: 18px;
    border-radius: 20px 20px;
    cursor: pointer;
    margin: 0 20px;
}
#quiz #answersSection h3:hover
{
    background: #302a2a;
}
#quiz #answersSection h3:first-child:hover
{
    background: none;
}
/*Result Section*/
#container #result
{
    height: 500px;
    width: 500px;
    padding: 20px;
    background: #c7c7c7;
    border-radius: 30px 30px;
    border: 1px solid #07c5ff;
    overflow: hidden;
    position: relative;
    display: none;
}
#container #result i
{
    font-size: 180px;
    color: #07c5ff;
    position: absolute;
    top: 30px;
    left: 120px;
}
#container #result h6
{
    height: 40px;
    width: 87%;
    font-size: 25px;
    position: absolute;
    text-align: center;
    top: 235px;
}
#container #result #points
{
    font-size: 35px;
    top: 274px;
}
#container #result button
{
    height: 65px;
    width: 260px;
    border: none;
    outline: none;
    background: #069bff;
    color: #000;
    position: absolute;
    left: 125px;
    top: 335px;
    border: 1px solid #0066ff;
    border-radius: 18px 18px;
    font-size: 23px;
    cursor: pointer;
}

#container #result button:last-child {
    top: 408px;
}

#container #result button:hover {
    background: #012bb6;
}